/* Stelle sicher, dass dein HTML und BODY die volle Höhe einnehmen */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Wrapper für den Inhalt oberhalb des Footers */
  .main-content {
    min-height: calc(100vh - 120px); /* Adjust 120px to your footer's height */
    /* Rest des Inhalts-Styles */
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    padding: 20px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    width: -webkit-fill-available;
  }
  
  .footer-logo img {
    height: 50px; /* Passt die Höhe des Logos an */
  }
  
  .footer-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-copy {
    font-size: 14px;
    color: #666;
  }
  