.impressum {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #ffffff;
  }
  
  .impressum h2 {
    font-size: 24px;
  }

  .impressum h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .impressum p {
    margin-bottom: 5px;
  }
  
  .impressum a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .impressum a:hover {
    text-decoration: underline;
  }
  